<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>



    <nav class="navbar navbar-dark bg-dark">
        <div class="container container-fluid">
            <a class="navbar-brand">Lena Project</a>

            @await Component.InvokeAsync("Search")
        </div>

    </nav>
    <div class="container mt-5">

        @RenderBody()

    </div>


    <script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>



    <script src="~/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Javascript", false)
</body>
</html>
